#container {
  width: 500px;
  margin: 100px auto 0px auto;
}

#words_container {
  margin: 0px auto 20px auto;
  padding-right: 10px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#words {
  font-size: 20pt;
}

#entry_box {
  width: 100%;
  font-size: 20pt;
}

#new_quote {
  font-size: 20pt;
  margin: 0px auto;
  display: none;
}

#source {
  margin-top: 50px;
  text-align: right;
}

#stats {
  margin: 20px auto;
  text-align: center;
}

#stats td {
  width: 75px;
}

.active {
  background: #D6FFD6;
}
